.card{
    width: 267px;
    border-radius: 5px;
    background: var(--element-bg);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    color: var(--headingone-color);
    overflow: hidden;
    cursor: pointer;
    img{
        width:267px;
        height: 160px;
    }
    .all{
      padding: 24px 0px 46px 24px;
        h2{
            margin-bottom: 16px;
        }
        ul{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
    }
}