:root{
    --element-bg: #2B3844;
    --headingone-color: #fff;
    --logo-color: #fff;
    --dark-img: block;
    --light-img: none;
    --body-bg: #202C36;
    --placeholder: #fff;
    --body: #202C36;
    --dark: flex;
    --light: none;
}