.inputs{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color:  var(--headingone-color);
    .input_content{
        width: 100%;
        max-width: 480px;
        padding: 18px 32px;
        border-radius: 5px;
        background: var(--element-bg);
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        gap: 24px;
        .search-light{
            display: var(--light);
        }
        .search-dark{
            display: var(--dark);
        }
        input{
            color: var(--headingone-color);
            font-size: 14px;
            font-weight: 400;
            &::placeholder{
                color: var(--placeholder);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
    .drop_down{
        // position: relative;
        .drop_down_content{
            width: 100%;
            width: 200px;
            height: 56px;
            margin-bottom: 8px;
            border-radius: 5px;
            background: var(--element-bg);
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 0px 20px;
            h4{
                color: var(--headingone-color);
                font-size: 14px;
                font-weight: 400;
            }
        }
        ul{
            width: 100%;
            max-width: 200px;
            padding: 18px 18px 16px 24px;
            border-radius: 5px;
            background: var(--element-bg);
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            li{
                color: var(--headingone-color);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                border: 1px solid transparent;
                padding: 3px;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    border-color: #ad9e9e;
                }
            }
        }
        .rotate{
            transform: rotate(180deg);
        }
    }
}

@media(max-width: 725px){
    .inputs{
        flex-direction: column;
        row-gap: 40px;
    }
}